<!-- content -->
<main>
  <div
    class="grid gap-5 mt-20 grid-cols-[repeat(4,minmax(0,250px))] grid-rows-4 p-5"
  >
    <!-- card -->
    <div
      class="rounded-2xl p-5 bg-gray-100 flex justify-center shadow-2xl transition-transform duration-100 hover:scale-105 cursor-pointer"
    >
      <div class="w-full max-w-[200px] h-[250px] text-center">
        <img class="rounded-xl" src="/components/image/song/s-1.jpg" alt="" />
        <h1 class="pt-1">Christian Kuria - Too Good</h1>
        <span class="flex justify-center items-center gap-2 pt-1">
          <a href="#" class="hover:scale-120">
            <img
              class="w-5 h-5"
              src="components/image/brands/spotify.png"
              alt=""
            />
          </a>
          <a
            href="https://www.youtube.com/watch?v=W7O03rIvP3w&list=RDW7O03rIvP3w&start_radio=1"
            class="hover:scale-120"
          >
            <img
              class="w-5 h-5"
              src="components/image/brands/youtube.png"
              alt=""
            />
          </a>
        </span>
      </div>
    </div>

    <!--end card -->
  </div>
</main>
<!-- end content -->
